<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>Reset Password</h1>
  </div>
  <div class="login-box">

    <form class="login-form" [formGroup]="resetpasswordForm">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Reset</h3>
  
        <p class="text-center">Please enter your email address to request a password reset.</p>

        <div class="form-group">
          <label class="control-label" for="email">E-MAIL</label>
          <input class="form-control"  type="email" placeholder="Email Address"  #passwordResetEmail required>
        </div>
  
        <!-- <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div> -->
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="form-group btn-container">
          <input type="submit" class="btn btn-primary btn-block" value="Reset Password" (click)="auth.ForgotPassword(passwordResetEmail.value)">
          <div class = "mt-3 text-center semibold-text">
            <a class="redirect" routerLink="/login">Log In</a>
          </div>
        </div>
  
      <!-- <div class="redirectToLogin">
        <a class="redirect" routerLink="/login">Log In</a>
      </div> -->
    </form>
 
    </div>
  </section>